@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0 100px;
  margin: 0 50px;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0px 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #391145;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: #6DD0FE;
  background-image: url("/img/portfolio/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: #6DD0FE;
  background-image: url("/img/portfolio/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider .slick-arrow.slick-prev:hover {
  left: 0;
  background: #FFFFFF;
  background-image: url("/img/portfolio/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider .slick-arrow.slick-next:hover {
  right: 0;
  background: #FFFFFF;
  background-image: url("/img/portfolio/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
